.subCategorySection {
  margin: 0 auto;
  margin-top: 72px;
  padding: 2rem 16px 2rem;
}

.subCategoryTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #EDEDED;
}

.postsSection {
  margin-top: 2rem;
}

.postsSubtitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #EDEDED;
}

.postsContainer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.postItem {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem 0;
}

@media (min-width: 926px) {
  .postsContainer {
    gap: 0 2rem;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .postItem {
    flex: 1 1 30%;
  }
}

@media (min-width: 1024px) {
  .subCategorySection {
    padding: 2rem 7.5rem 0;
  }
}      