.pageSection {
    padding: 16px;
    margin-top: 72px;
    color: #d4d4d4;
    min-height: calc(100vh - 209px);
    font-size: 2.2vh;
    line-height: 2.6vh;
    letter-spacing: .5px;
}

.pageSection h1 {
  margin: 1rem 0;
  font-size: 3.2vh;
  line-height: 3.6vh;
  letter-spacing: .5px;
}

.pageSection h2,
.pageSection h3 {
  font-size: 2.8vh;
  line-height: 3.2vh;
  letter-spacing: .5px;
  font-weight: 600;
  margin: 1rem 0;
  color: #EDEDED;
}

.pageSection ul {
  padding: 16px;
}

@media (min-width: 768px) {
  .pageSection {
      padding: 2rem 6rem;
  }
}

@media (min-width: 1024px) {
  .pageSection {
      max-width: 720px;
      padding: 2rem 0;
  }

  .pageContent {
    display: flex;
    justify-self: flex-start;
    padding-left: 9rem;
  }
}