.categorySection {
  margin: 0 auto;
  padding: 2rem 16px 2rem;
  margin-top: 72px;
}

.categoryTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #EDEDED;
}

.subCategoriesBadges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
  padding: 1.2rem 2rem;
}

.subCategoryBadge {
  background-color: #bdc1c6;
  color: #0a0a0a;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.95rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: default;
}

.subCategoryBadge:hover {
  background-color: #d2e3fc;
  cursor: pointer;
}

.postsSection {
  margin-top: 2rem;
}

.postsSubtitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #EDEDED;
}

.postsContainer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.postItem {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem 0;
}

@media (min-width: 926px) {
  .postsContainer {
    gap: 0 2rem;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .postItem {
    flex: 1 1 30%;
  }
}