.postsContainer {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
}

.postItem {
    position: relative;
    width: 100%;
    min-height: 107.53px;
    box-sizing: border-box;
    /* padding: .6rem; */
    padding: .5rem 0;
    /* background: var(--post-background); */
    z-index: 1;
}

.dividerItem {
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .postItem {
        padding: 1rem 0;
    }
}

@media (min-width: 926px) {
    .homeSection {
        margin-top: 36px;
    }

    .postsContainer {
        gap: 0 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* .postsContainer li:not(:last-of-type) {
        margin-bottom: 32px;
    } */

    .postItem {
        flex: 1 1 30%;
        padding: 0;
        max-width: 620px;
        border-bottom: none;
    }

    .dividerItem {
        display: none;
    }
}

@media (min-width: 1280px) {
    /* .postsContainer {
    padding: 0 10vh;
  } */
}

@media (min-width: 1024px) {
    .main {
        padding: 0 6rem;
    }

    .postsContainer {
        gap: 0 1rem;
        grid-template-columns: repeat(4, 1fr);
    }
}