:root {
  /* --background: #ffffff;
  --foreground: #171717; */

  /* post-card */
  /* --post-background: #f5f5f5;
  --post-description: #171717;
  --post-footer: #171717; */

  /* PostTemplate */
  /* --post-text: #0a0a0a;
  --post-highlight: #29D;
  --post-info: #171717; */

  /* DARK DEFAULT */
  --background: #0a0a0a;
  --foreground: #ededed;

  /* post-card */
  --post-background: #28292a;
  --post-description: #bdc1c6;
  --post-footer: #999;

  /* PostTemplate */
  --post-text: #EDEDED;
  --post-highlight: #29D;
  --post-info: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* post-card */
    --post-background: #28292a;
    --post-description: #bdc1c6;
    --post-footer: #999;

    /* PostTemplate */
    --post-text: #EDEDED;
    --post-highlight: #29D;
    --post-info: #999;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
