.headerWrapper {
    width: 100%;
}

.logoText {
  /* font-family: "Segoe UI, Helvetica, Arial, sans-serif"; */
  font-size: 42;
  font-weight: 700;
  color: #ededed;
  letter-spacing: 1.5;
}

.headerWrapper h1 {
    font-family: math;
    font-size: 3.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--highlight);
    margin-top: 5rem;


    @media (max-width: 992px){
        font-size: 2.8rem;
    }
}

.headerWrapper h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    color: var(--highlight);
}

.menuWrapper {
  width: 100%;
  margin-top: var(--medium);
  display: flex;
  align-items: center;   /* centraliza verticalmente */
  justify-content: space-between; /* mantém espaçamento */
  position: relative;    /* permite centralizar absoluto */
}

.logoWrapper {
  position: absolute;
  left: 53%;
  transform: translateX(-50%);
  align-items: center;

  @media only screen and (min-width: 768px) {
    margin-top: 10px;
    transform: initial;
    left: 0;
  }
}

.logoWrapper svg {
  height: 4.2vh;
  width: auto;
}

.backButton {
    background: none;
    border: none;
    font-size: 28px;
    color: #fff;

    @media (min-width: 768px) {
        display: none;
    }
}

@media (min-width: 1024px) {
.headerWrapper {
    padding: 0 7.5rem;
  }
}