.highlightPostContainer {
  display: flex;
}

.highlightPostLink, .highlightPostDescription {
  width: 100%;
}

.highlightImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.highlightImageContainer img{
  border-radius: 7%;
}

.subCategoryLabel {
  position: absolute;
  top: 8px;
  left: 12px;
  background-color: rgba(0, 0, 0, 0.5); /* fundo preto transparente */
  color: #ededed;
  padding: 4px 8px;
  font-size: .95rem;
  letter-spacing: .5px;
  line-height: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  z-index: 2;
}

.imageTitleOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); /* gradiente para contraste */
  color: #ededed;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 12px 8px 8px;
  /* font-size: 1.3rem; */
  /* line-height: 22px; */
  font-size: 2.8vh;
  letter-spacing: .3px;
  font-weight: bold;
  z-index: 2;
}

.highlightPostDescription {
  display: none;
}

@media (min-width: 768px) {
  .highlightPostContainer {
    min-height: 472px;
  }

  .subCategoryLabel {
    font-size: 1.1rem;
    padding: 6px 10px;
  }

  .imageTitleOverlay {
    padding-right: 35%;
    padding: 12px 12px 25px;
  }
}

@media (min-width: 926px) {
  .subCategoryLabel {
    /* font-size: 1.2rem; */
  }

  .imageTitleOverlay {
    padding: 12px 20% 32px 12px;
  }
}

@media (min-width: 1024px) {
  .highlightPostDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    padding: 2rem;
  
  }

  .highlightPostDescription h1{
    font-size: 44px;
    line-height: 52px;
  }

  .highlightPostDescription p {
    margin-top: 30px;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: .0025em;
  }

  .highlightPostLink {
    width: 55%;
    padding: 2rem;
  }
}

@media (min-width: 2048px) {
  .imageTitleOverlay {
    font-size: 3.8vh;
    padding: 12px 20% 32px 32px;
  }

  .subCategoryLabel {
    font-size: 1.4rem;
    padding: 10px 14px
  }
}