.footer {
  padding: 3rem 2rem 3rem;
  text-align: center;
  background-color: #1f1f1f;
  margin-top: 4rem;
  justify-content: center;
}

.footer p{
  font-size: 1.6vh;
  line-height: 2vh;
  margin-bottom: 12px;
}

.footer p a{
  text-decoration: underline;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: .5rem;
  flex-wrap: wrap;
  font-size: 1.8vh;
  line-height: 2.2vh;
}

.footerLinks a {
  color: #ededed;
  text-decoration: none;
  text-decoration: underline;
}