.authorSection {
  margin: 0 auto;
  padding: 16px;
  margin-top: 72px;
}

.authorName {
  font-size: 3.4vh;
  line-height: 3.8vh;
  letter-spacing: .5px;
  font-weight: bold;
  text-align: center;
  color: #EDEDED;
  padding: 1.2rem 0 1.6rem 0;
  /* position: relative; */
}

/* .authorName:before,
.authorName:after {
  content: '\a0';
  width: calc(50% + .8rem);
  position: absolute;
  top: 50%;
  height: 1.4rem;
  border-top: 1px solid;
  border-color: #EDEDED;
  overflow: hidden;
}

.authorName:before {
  margin-left: calc(-50% - 1rem);
  margin-right: .2rem;
  text-align: right;
}

.authorName:after {
  margin-left: .2rem;
} */

.coverImage {
  display: block;
  max-width: 333px;
  max-height: 230px;
  margin: 0 auto 4rem auto;
  border: 1px solid #d3d3d3;
}

.infoRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.infoContent {
  color: #EDEDED;
  display: grid;
  grid-template-columns: .5fr 1fr;
  gap: 20px;
  margin-bottom: 16px;
  align-items: center;
}

.infoTitle{
  font-size: 2vh;
  line-height: 2.4vh;
  letter-spacing: .5px;
  font-weight: 600;
  margin-right: 10px;
}

.infoItem {
  font-size: 1.8vh;
  line-height: 2.2vh;
  letter-spacing: .5px;
  color: #999;
}

.icons a {
  color: #EDEDED;
}

.bioSection {
  margin-top: 2rem;
}

.bioTitle {
  font-size: 2.6vh;
  line-height: 3vh;
  letter-spacing: .5px;
  font-weight: 600;
  color: #EDEDED;
  margin-bottom: 1rem;
  text-align: center;
}

.bioContent {
  font-size: 2.2vh;
  line-height: 2.6vh;
  letter-spacing: .5px;
  line-height: 1.6;
  color: #EDEDED;
}

.postsSection {
  padding: 2rem 0;
}

.postsTitle {
  font-size: 2.6vh;
  line-height: 3vh;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #EDEDED;
}

/* .postsContainer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
} */

.postsContainer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.postItem {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: .6rem;
}

@media (min-width: 926px) {
  .postsContainer {
    gap: 0 2rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .postItem {
    flex: 1 1 30%;
  }

  .infoImageBio {
    display: flex;
  }

  .infoImage, .bioSection {
    flex: 1;
  }

  .infoImage {
    padding: 16px 16px 16px 0;
  }

  .bioSection {
    padding: 16px 0 16px 16px;
  }

  .coverImage {
    margin: 0 auto 2rem;
  }

  .infoRow {
    padding: 2rem;
    max-width: fit-content;
    margin: 0 auto;
  }

  .bioSection {
    padding: 2rem;
  }
}

@media (min-width: 1280px) {
  .authorSection{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoImageBio, .postsContainer {
    padding: 2rem 8rem;
    max-width: 2096px;
  }

  .postsContainer {
    gap: 0 4rem;
  }

  .postItem {
    margin-bottom: 32px;
  }
}