.wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    overflow: hidden;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.wrapper a {
    font-family: var(--font-geist-sans);
    font-size: 2.2vh;
    font-weight: 500;
    /* line-height: 1.6vh; */
    letter-spacing: 1px;
    color: var(--highlight);
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 14px 10px 0;

    &:first-child {
        padding-left: 0;
    }

    &:hover {
        color: #3B82F6;
    }
}

@media (min-width: 926px) {
    .wrapper a {
        /* font-size: 1.2rem; */
    }
}