.listPostsItem {
  display: flex;
  justify-content: space-between;
  padding: .6rem;
  background: #28292a;
  min-height: 108.24px;
}

.listPostsImage {
  background: #3d3d3d;
  width: calc(40% - 1.6rem);
  aspect-ratio: 16 / 9;
  display: flex;
  flex: 1;
}

.listPostsText {
  padding: 0 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;

  p:first-child {
    font-size: 1.8vh;
    line-height: 2.2vh;
    letter-spacing: .5px;
    margin-bottom: .8rem;
    font-weight: bold;
  }

  p:last-child {
    font-size: 1.8vh;
    line-height: 2.2vh;
    margin-top: .6rem;
    color: #999;
  }
}

.postTitle {
    font-size: 2vh;
    line-height: 2.4vh;
    letter-spacing: .5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (min-width: 1280px) {
  .listPostsItem {
    padding: 1.2rem;
  }
}